*.dll
*.pdb
*.ilk
*.exe
*.idb
*.swp
*.vcxproj*
*DS_Store
src/Documentation/*/*/*.aux
src/Documentation/*/*/*.blg
src/Documentation/*/*/*.bbl
src/Documentation/*/*/*.log
src/Documentation/*/*/*.out
src/Documentation/*/*/*.toc
bin*/*/*
bin64/*
doc/*
src/Doxyfile
*.dylib
*.so
*.a
*.*~
*.orig
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
DartConfiguration.tcl
bin*
cmake
