*.dll
*.pdb
*.ilk
*.exe
*.idb
*.swp
*.vcxproj*
*DS_Store
bin*/*/*
bin64/*
doc/*
src/Doxyfile
*.dylib
*.so
*.a
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
DartConfiguration.tcl
