{
  "version": 3,
  "configurePresets": [
    {
      "name": "mine",
      "displayName": "My SCIRun build",
      "inherits": ["qt6", "vs2022-release"],
      "binaryDir": "C:/SR",
      "cacheVariables": {
        "Qt_PATH": "C:/Qt/6.3.1/msvc2019_64"
      }
    }
  ],
  "buildPresets": [
    { "name": "mine", "configurePreset": "mine", "configuration": "Release" }
  ],
  "testPresets": [
    { "name": "mine", "configurePreset": "mine", "configuration": "Release", "output": { "outputOnFailure": true } }
  ]
}
