@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
  font-family: 'Fira Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
  /* font-size: 2.2rem; */
}

img:not(.inline){
  margin: auto;
  display: block;
}

figcaption, .figure .caption {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

figcaption {
  padding-bottom: 20px;
}

table td {
  white-space: normal !important;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #c22200;
}

.wy-nav-content-wrap {
  background: #e7e9e2;
}

.wy-nav-content {
  background: #f3f4f1;
}

.wy-nav-side {
  background: rgba(0, 0, 0, 0.75);
}

.wy-nav-top, .wy-side-nav-search {
  background-color: #c22200;
}
