###VERSION=1.0
#  For more information, please see: http://software.sci.utah.edu
# 
#  The MIT License
# 
#  Copyright (c) 2009 Scientific Computing and Imaging Institute,
#  University of Utah.
# 
#  
#  Permission is hereby granted, free of charge, to any person obtaining a
#  copy of this software and associated documentation files (the "Software"),
#  to deal in the Software without restriction, including without limitation
#  the rights to use, copy, modify, merge, publish, distribute, sublicense,
#  and/or sell copies of the Software, and to permit persons to whom the
#  Software is furnished to do so, subject to the following conditions:
# 
#  The above copyright notice and this permission notice shall be included
#  in all copies or substantial portions of the Software.
# 
#  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
#  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
#  THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
#  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
#  DEALINGS IN THE SOFTWARE.
#

#
# Sample SCIRun/services/echorc file.
#
# This file is copied from the SCIRun/src tree file:
#   SCIRun/Core/Services/echorc
#
# Lines beginning with '#' are commented out.
#
# All variables in this file have been commented out or set
# to their default values.
#
# This file contains a list of environment variables that can be either set
# in your shell or here. If you set these variables in your shell, they will 
# override the values in this file.
#
# All variable declarations must use the syntax:
#    variable = Value
#
# Boolean variable declarations use this syntax:
#    variable = <true,1,on,yes|false,0,off,no>
#

#####################################
### SERVICE SETUP VARIABLES       ###
#####################################

# Setup this part of the directory to setup the security features of this
# service for the internet server part of the service manager
# If the request is originating from the same SCIRun-thread and marked as internal
# communication, no password check and rhosts check is performed.

# PASSWORD:
# If this field is set, then the client wanting to use this service over the internet
# needs to supply a password to access the service. 
password=

# RHOSTS:
# A comma or space separated list of all clients that are allowed to connect to this service
# The list may include the wildcard symbol '*'. Hence the following kind of lists are allowed
#
# rhosts= *.sci.utah.edu *.cvrti.utah.edu
# rhosts= 155.140.*.*
#  
rhosts=

# DISABLE:
# This setting will disable this service to be used from the internet for each program 
# using this configuration file. The service cannot be switched on. 
disable=false

# STARTMATLAB:
# What command a sh shell should execute to start matlab
startmatlab=matlab -nodesktop -nosplash

# MATLABTIMEOUT
# After how many seconds to fail if matlab did not start
matlabtimeout=180

